@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image:
		url("https://social.msdn.microsoft.com/Forums/getfile/999405");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
}

.registro {
	width: 450px;
	
	background-color: #39384B ;
	box-shadow: 7px 13px 37px #000;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 5px;
}

.registro h4 {
	text-align: center;
	margin-bottom: 20px;
}

.cajas {
	width: 100%;
	background-color: #39384B;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 18px;
	color: white;
	border: 1px solid blue;
}

.registro p {
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	color: white;
}

.registro a {
	color: white;
	text-decoration: none;
	
}

.registro a:hover {
	color: white;
	text-decoration: underline;
}

.registro .botones {
	width: 100%;
	background-color: blue;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}
button:hover {
	 animation: ani9 0.4s ease-in-out infinite alternate;
}